{% extends "core/layout.html" %}
{% block title %}
{% endblock title %}

{% block edu %}
{{ study.get_degree_display }}
{{ study.chart }} 
{% endblock edu %}

{% block content %}

        <div class="container-fluid">

          <div class="text-right mb-4">
            <h1 class="h3 mb-5 text-gray-800">لیست دروس من</h1>
          </div>

          <div class="row text-right table-responsive-sm table-responsive-md">

              <table class="custom-table">
                  <thead>
                      <tr>
                          <th>نام درس</th>
                          <th>واحد نظری</th>
                          <th>واحد عملی</th>
                          <th> هم‌نیاز</th>
                          <th> پیش‌نیاز</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle fa-minus-circle ml-3"></i>دروس اصلی</button> </td>
                      </tr>

                      {% for course in courses %}
                      {% if course.course_type == 1 %}
                        <tr class="toggler toggler1">
                            <td>{{course.title}} </td>
                            <td>{{course.vahed_nazari}}</td>
                            <td>{{course.vahed_amali}}</td>
                            <td>
                                {% for coreq in course.corequisite_courses.all %}
                                {{ coreq }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for prereq in course.prerequisite_courses.all %}
                                {{ prereq }}
                                {% endfor %}
                            </td>
                        </tr>
                      {% endif %}
                      {% endfor %}

                      
                  </tbody>
                  <tbody>
                      <tr>
                          <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle ml-3"></i> دروس تخصصی</button></td>
                      </tr>
                      {% for course in courses %}
                      {% if course.course_type == 2 %}
                        <tr class="toggler">
                            <td>{{course.title}} </td>
                            <td>{{course.vahed_nazari}}</td>
                            <td>{{course.vahed_amali}}</td>
                            <td>
                                {% for coreq in course.corequisite_courses.all %}
                                {{ coreq }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for prereq in course.prerequisite_courses.all %}
                                {{ prereq }}
                                {% endfor %}
                            </td>
                        </tr>
                      {% endif %}
                      {% endfor %}
    
                  </tbody>
                  <tbody>
                      <tr>
                          <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle  ml-3"></i>دروس عمومی </button></td>
                      </tr>
                      {% for course in courses %}
                      {% if course.course_type == 3 %}
                        <tr class="toggler">
                            <td>{{course.title}} </td>
                            <td>{{course.vahed_nazari}}</td>
                            <td>{{course.vahed_amali}}</td>
                            <td>
                                {% for coreq in course.corequisite_courses.all %}
                                {{ coreq }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for prereq in course.prerequisite_courses.all %}
                                {{ prereq }}
                                {% endfor %}
                            </td>
                        </tr>
                      {% endif %}
                      {% endfor %}

                  </tbody>
                   <tbody>
                      <tr>
                          <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle  ml-3"></i>دروس اختیاری </button></td>
                      </tr>
                      {% for course in courses %}
                      {% if course.course_type == 4 %}
                        <tr class="toggler">
                            <td>{{course.title}} </td>
                            <td>{{course.vahed_nazari}}</td>
                            <td>{{course.vahed_amali}}</td>
                            <td>
                                {% for coreq in course.corequisite_courses.all %}
                                {{ coreq }}
                                {% endfor %}
                            </td>
                            <td>
                                {% for prereq in course.prerequisite_courses.all %}
                                {{ prereq }}
                                {% endfor %}
                            </td>
                        </tr>
                      {% endif %}
                      {% endfor %}

                  </tbody>

              </table>

          </div>


        </div>

{% comment %} <script src="static/core/vendor/jquery/jquery.min.js"></script> {% endcomment %}
<script>
  //cs
  $(".tbtn").on("click",function () {
    $(this).parents(".custom-table").find(".toggler1").removeClass("toggler1");
    $(this).parents("tbody").find(".toggler").addClass("toggler1");
    $(this).parents(".custom-table").find(".fa-minus-circle").removeClass("fa-minus-circle");
    $(this).parents("tbody").find(".fa-plus-circle").addClass("fa-minus-circle");
});

</script>
 {% endblock content %}