{% extends "core/layout.html" %}
{% block title %}
{% endblock title %}

{% block edu %}
مهندسی کامپیوتر
{% endblock edu %}

{% block content %}

        <div class="container-fluid">

          <div class=" text-right mb-4">
            <h1 class="h3 mb-5 text-gray-800">وضعیت دروس من</h1>
          </div>

          <div class="row table-responsive-sm table-responsive-md">

            <table class="custom-table">
              <thead>
                  <tr>
                      <th>نام درس</th>
                      <th>واحد عملی</th>
                      <th>واحد نظری</th>
                      <th> نمره</th>
                      <th>  </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle fa-minus-circle ml-3"></i>دروس اصلی</button> </td>
                  </tr>
                  <tr class="toggler toggler1">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler toggler1">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler toggler1">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler toggler1">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler toggler1">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  
              </tbody>
              <tbody>
                  <tr>
                      <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle ml-3"></i> دروس تخصصی</button></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td><i class="fa fa-edit"></i></td>
                  </tr>
              </tbody>
              <tbody>
                  <tr>
                      <td colspan="20" class="page-header"><button type="button" class="tbtn"><i class="fa fa-plus-circle  ml-3"></i>دروس اختیاری </button></td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
                 <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
                  <tr class="toggler">
                      <td>مهندسی اینترنت</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                  </tr>
              </tbody>

          </table>

          </div>


        </div>




 {% endblock content %}