{% extends "core/layout.html" %}
{% block title %}
{% endblock title %}

{% block edu %}
{{ study.get_degree_display }}
{{ study.chart }} 
{% endblock edu %}

{% block content %}
        <div class="container-fluid">

          <div class="text-right mb-4">
            <h1 class="h3 mb-0 text-gray-800">دستیار اخذ درس</h1>
          </div>


          <div class="row">
            {% for course in courses %}

            <div class="col-xl-3 col-lg-5">
              <div class="course-item text-center position-relative">
                <div class="course-item-name p-2">{{course.title}}</div>
                <div class="course-item-vahed py-2">
                    <span class="p-2">
                      {{course.vahed_nazari}}
                    </span>
                    <span class="p-2"> 
                        {{course.vahed_amali}}
                    </span>
                </div>
                <div class="close-icon" onClick={this.Remove.bind(this,item.id)}>
                    X
                </div>
            </div>
            </div>

          {% endfor %}
<!-- 
            <div class="col-xl-3 col-lg-5">
              <div class="course-item text-center position-relative">
                <div class="course-item-name p-2">مهندسی نت</div>
                <div class="course-item-vahed py-2">
                    <span class="p-2">
                       2
                    </span>
                    <span class="p-2"> 
                        2
                    </span>
                </div>
                <div class="close-icon" onClick={this.Remove.bind(this,item.id)}>
                    X
                </div>
            </div>
            </div> -->
          </div>

        </div>

      
{% endblock content %}