{% extends "core/layout.html" %}
{% block title %}
{% endblock title %}

{% block edu %}
{{ study.get_degree_display }}
{{ study.chart }} 
{% endblock edu %}

{% block content %}

        <div class="container-fluid">

          <div class=" text-right mb-4">
            <h1 class="h3 mb-5 text-gray-800">وضعیت دروس من</h1>
          </div>

          <div class="row table-responsive-sm table-responsive-md">

            <table class="custom-table">
              <thead>
                  <tr>
                      <th>نام درس</th>
                      <th>واحد نظری</th>
                      <th>واحد عملی</th>
                      <th>نوع درس </th>
                      <th> نمره</th>
                      <th>  </th>
                  </tr>
              </thead>
              <tbody>
                    {% for score in scores %}
                        <tr class="toggler toggler1">
                            <td>{{score.course.title}} </td>
                            <td>{{score.course.vahed_nazari}}</td>
                            <td>{{score.course.vahed_amali}}</td>
                            <td>{{score.course.get_course_type_display}} </td>
                            <td>
                              <input id="{{ score.course.id }}" value="{{score.value }}" type='text' placeholder='نمره'>
                            </td>
                            <td>
                            
                            <button 
                            class="fa fa-check check-btn" data-id="{{ score.course.id }}"
                            onclick="handleSubmit('{% url 'updateScore' study_id=request.session.study_id course_id=score.course.id %}', this)">
                            </button></td>
                        </tr>
                    {% endfor %}
              </tbody>
    
          </table>

          </div>


        </div>


{% comment %} <script src="static/core/vendor/jquery/jquery.min.js"></script> {% endcomment %}
<script>
  function handleSubmit(endpoint,sender){
    var fieldId = $(sender).data('id');
    var scoreValue = $('#'+fieldId).val();
     $.ajax({
        url: endpoint,
        data: {
            score: scoreValue
        },
        dataType: 'JSON',
        method: 'POST',
        success: function (result) {
            console.log('success:' + result.id);
            alert('با موفقیت ثبت شد!')
        
        },
        error: function () {
            console.log('ERROR: failed');
            
        }
    })
  }


  var scoreRaneg = $('.toggler input').val();

  console.log(scoreRaneg);

{% block extrahead %}
  if (scoreRaneg<10){
    $('#{{score.course.id}}').css("background-color" , "#ff6961").css("color" , "#fff")
  }
   {% comment %} else if (scoreRaneg>=10){
    $('.toggler').css("background-color" , "#90EE90").css("color" , "#000")
  } {% endcomment %}
  {% endblock %}
</script>

 {% endblock content %}