{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %} {% endblock%}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'core/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'core/css/main.css' %}" rel="stylesheet" type="text/css">
  
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
  
  {% block stylesheet %}{% endblock %}
</head>

<body id="page-top">

  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion pr-0" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">سامانه واحدیار</div>
      </a>

      <hr class="sidebar-divider my-0"  style="border-top:1px solid #e0248b">

      

      <li class="nav-item active">
        <a class="nav-link text-right" href="{% url 'index'%}">
          <i class="fas fa-fw fa-landmark"></i>
          <span>پیشخوان تحصیلات</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link text-right" href="{% url 'dashboard' study_id=request.session.study_id %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>داشبورد</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-right" href="{% url 'courseList' %}">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>لیست دروس من</span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link text-right" href="{% url 'courseSituation' %}">
          <i class="fas fa-fw fa-tasks"></i>
          <span>وضعیت دروس</span></a>
      </li>


      <li class="nav-item active">
        <a class="nav-link text-right" href="{% url 'courseAssistant' %}">
          <i class="fab fa-fw fa-hire-a-helper"></i>
          <span>دستیار اخذ درس</span></a>
      </li>


      <hr class="sidebar-divider">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

            <div >
                {% block edu %}{% endblock %}
            </div>

          <ul class="navbar-nav float-left">

            <li class="nav-item dropdown no-arrow d-sm-none">

              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">پریسا قمی</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item  text-right" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  پروفایل
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item  text-right" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  خروج
                </a>
              </div>
            </li>

          </ul>

        </nav>

        {% block content %}{% endblock %}
        

      </div>


    </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">آیا میخواهید خارج شوید؟</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
          <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">لغو</button>
          <a class="btn btn-primary" href="login.html">خروج</a>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  
  
  <script src=" {% static 'core/js/sb-admin-2.js' %}"></script>
 
  
</body>

</html>